<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  bgcolor=skyblue>
    
    <a href="/">Home</a>|
    <a href="/about">about us</a>|

    <a href="/update">update</a>|
    <a href="/search"> Search </a> |
    <a href="/contact">contact us</a>|
    <a href="/service">services</a>

    <hr size="4" color="blue">
    <h1>about company data
        <br>
        comapany data
    </h1>

    <table align="center" border="2">
        <tr>
            <th>Rollno</th>
            <th>Name</th>
            <th>City</th>
            <th>Fess</th>
            <th></th>
            <th></th>
        </tr>
    <%
       Data.map((key)=>{
        <!-- if (key.rollno%2==0){ -->
          %>
       <tr>
        <td> <%=key.rollno   %></td>
        <td> <%=key.name   %></td>
        <td> <%=key.city   %></td>
        <td> <%=key.fees   %></td>
        <td> <%=key._id   %></td>
        <td>
            <a href="/recdelete/?id=<%=key._id%>">delete</a>
        </td>
        <td>
            <a href="/recedit/?id=<%= key._id %>">  Edit </a>  
          </td>

       </tr>
     <%
    <!-- }      -->
       })

    %>
</table>

    <hr size="4" color="green">
    www.company data.com all right reserved 2024
    
</body>
</html>